doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title login
        meta(name='description', content='')
        meta(name='author', content='Jaejong')
        link(rel='stylesheet', href='/stylesheets/firebase/login.css')
    body
        form
            //input(type="text" placeholder="login")
            //input(type="text" placeholder="password")
            button(type="button") login

        //script(src='js/scripts.js')